<section id="activity-row-template" style="display: none !important;">
    <table>
        <tbody>
            <tr class="activity-row">
                <td width = "10%"  >
                    <span class = "who" >
                </span >
                </td >

                <td width = "60%"   >
                    <span class="what"></span>
                </td >


                <td width = "30%"  >
                        <span class = "when" >
                        </span>
                </td >
            </tr >
        </tbody>
    </table>

</section>





